@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

.code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.snapping {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.children {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  scroll-snap-align: start;
}

.monts {
  font-family: "Montserrat", sans-serif;
}

.golds {
  font-family: "MonacoB2", monospace;
}

.fadein {
  animation: 1.5s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running
    gGjJEE;
  transform: translateY(70px);
  animation-delay: 1.5s;
}

@keyframes gGjJEE {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fadeinname {
  animation: 2s cubic-bezier(0, 0.01, 0.39, 0.99) 0s 1 normal forwards running
    nAME;
  transform: translateY(150px);
  animation-delay: 0.5s;
}

@keyframes nAME {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0px);
  }
}

.toblack {
  display: inline;
  color: rgb(255, 255, 255);
  animation: 0.0001s linear 0.5s 1 normal forwards running eHXjFd;
  position: relative;
}

.toblack::after {
  content: "";
  top: 0px;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgb(34, 34, 34);
  animation: 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards running
    bKjwxc;
}

@keyframes eHXjFd {
  0% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(51, 51, 51);
  }
}

@keyframes bKjwxc {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  50% {
    width: 100%;
    margin-left: 0%;
  }
  100% {
    width: 0%;
    margin-left: 100%;
  }
}
